<header (window:scroll)="stickyHeader()">
    <div class="header-content" [ngClass]="{'sticky' : isSticky}">
        <div class="logo">
            <div class="logo-line"></div>
            <picture>
                <!-- IE supported by picturefill -->
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="../../assets/img/logos/logo-desktop.svg" media="(min-width: 1200px)">
                <!--[if IE 9]></video><![endif]-->
                <img src="../../assets/img/logos/logo-mobile.svg" alt="Pose conference logo">
            </picture>
        </div>
        <div class="menu-button" (click)="openMenu()">
            <p class="year">18</p>
            <p class="hamburger hide">||</p>
        </div>
    </div>
    <div class="header-background" [ngClass]="{'sticky' : isSticky}" id="pose-header-background">
        <div class="header-borders"></div>
    </div>

    <div class="menu" id="pose-menu" [ngClass]="{'active': isOpen}">
        <div class="menu-close-container" (click)="closeMenu()">
            <div class="menu-close"></div>
        </div>
        <div class="menu-links">
            <a (click)="scrollTo('what')">What, Where</a>
            <a (click)="scrollTo('speakers')">Speakers</a>
            <a (click)="scrollTo('schedule')">Schedule</a>
            <a (click)="scrollTo('lodging')">Lodging</a>
            <a (click)="scrollTo('contact')" class="bottom">Contact</a>
        </div>
    </div>
</header>