<header>
    <div class="header-content">
        <div class="logo">
            <picture>
                <!-- IE supported by picturefill -->
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="../../assets/img/logos/logo-desktop.svg" media="(min-width: 1200px)">
                <!--[if IE 9]></video><![endif]-->
                <img src="../../assets/img/logos/logo-mobile.svg" alt="Pose conference logo">
            </picture>
        </div>
        <p class="menu-button" (click)="openMenu()">18</p>
    </div>
    <div class="header-background"></div>

    <div class="menu" id="pose-menu" [ngClass]="{'active': isOpen}">
        <div class="menu-close" (click)="closeMenu()"></div>
        <div class="menu-links">
            <a (click)="scrollTo('what')">What, When, Where</a>
            <a (click)="scrollTo('speakers')">Speakers</a>
            <a (click)="scrollTo('schedule')">Schedule</a>
            <a (click)="scrollTo('lodging')">Lodging</a>
            <a (click)="scrollTo('contact')" class="bottom">Contact</a>
        </div>
    </div>
</header>


<!--<script>-->
    <!--$(document).ready(function() {-->
        <!--console.log('wut');-->
        <!--$(window).scroll(function () {-->
            <!--console.log('wut');-->
            <!--//if you hard code, then use console-->
            <!--//.log to determine when you want the-->
            <!--//nav bar to stick.-->
            <!--console.log($(window).scrollTop());-->
            <!--if ($(window).scrollTop() > 10) {-->
                <!--$('.header-content').addClass('fixed');-->
                <!--$('.header-background').addClass('fixed');-->
            <!--}-->
            <!--if ($(window).scrollTop() < 10) {-->
                <!--$('.header-content').removeClass('fixed');-->
                <!--$('.header-background').removeClass('fixed');-->
            <!--}-->
        <!--});-->
    <!--});-->
<!--</script>-->