<footer class="footer section" id="pose-section-contact">

    <div class="footer-information">
        <picture>
            <!-- IE supported by picturefill -->
            <!--[if IE 9]>
            <video style="display: none;"><![endif]-->
            <source srcset="../../assets/img/logos/logo-desktop.svg">
            <!--[if IE 9]></video><![endif]-->
            <img src="../../assets/img/logos/logo-desktop.svg" alt="Pose conference logo">
        </picture>

        <p>
            32 Crown Heights
            <br>Brooklyn, New York
            <br>info@poseconference.com
            <br>(728) 342 - 1247
            <br>9:00 to 17:00
        </p>
    </div>

    <div class="footer-connect">
        <a href="https://www.instagram.com/lostcrayons/" target="_blank">
            <picture>
                <!-- IE supported by picturefill -->
                <!--[if IE 9]>
                <video style="display: none;"><![endif]-->
                <source srcset="../../assets/img/icons/icon-IG.svg">
                <!--[if IE 9]></video><![endif]-->
                <img src="../../assets/img/icons/icon-IG.svg" alt="Link to Instagram page">
            </picture>
        </a>
        <a href="https://www.facebook.com/" target="_blank">
            <picture>
                <!-- IE supported by picturefill -->
                <!--[if IE 9]>
                <video style="display: none;"><![endif]-->
                <source srcset="../../assets/img/icons/icon-FB.svg">
                <!--[if IE 9]></video><![endif]-->
                <img src="../../assets/img/icons/icon-FB.svg" alt="Link to Facebook page">
            </picture>
        </a>
    </div>

    <p class="copyright">Copyright Pose Conference 2008</p>

</footer>
