@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers',
  'base/reset';

// 4. Components
@import
  'components/button',
  'components/section',
  'components/header',
  'components/footer',
  'components/home';
@import
  'components/home-components/schedule',
  'components/home-components/speakers';


@import '../responsive';