/**
 * Basic typography style for copy text
 */
body {
  font-family: $text-font-stack;
  font-weight: $regular;
}

.name-teal {
  color: $teal;
  padding: 5px 0;
  display: inline-block;
}

.name-yellow {
  font-size: $text-medium;
  font-weight: $bold;
  color: $yellow;
}

.italics { font-style: italic; }
.bold { font-weight: $bold; }
.highlight { background: $yellow; }
