.footer {
  padding: 40px 15px 10px 40px;
  opacity: 0.3;

  .footer-information {
    width: calc(100% - 45px);
    display: inline-block;

    source, img {
      width: 170px;
    }

    p {
      text-size: $text-small;
      line-height: 1.4em;
      margin: 10px 0;
    }
  }

  .footer-connect {
    display: inline-block;
    width: 40px;

    source, img {
      width: 100%;
    }
  }

  .copyright {
    margin: 20px 0 10px 0;
    font-size: 0.7em;
  }
}