/******************************************/
/************ header component ************/
/******************************************/

header {
  font-weight: $bold;

  .header-content {
    padding: 40px 15px 10px 40px;
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 0;

    &.sticky {
      padding-top: 7px;
      position: fixed;

      .logo {
        .logo-line {
          background-color: #ffffff;
          height: 5px;
        }
      }

      .menu-button {
        transform: rotate(-90deg);
        transform-origin: 70% 50%;
      }
    }

    .logo {
      float: left;
      width: 110px;
      position: relative;
      left: -22px;

      // smooth fall-in effect upon page load
      top: -40px;
      opacity: 0;
      -webkit-animation: onpageload-fall 2.5s forwards; /* Safari 4.0 - 8.0 */
      animation: onpageload-fall 2.5s forwards;

      .logo-line {
        width: calc(100% + 40px);
        background-color: #000;
        position: absolute;
        transition: 0.25s;
        left: -40px;
        height: 4px;

        // pseudo: white space between the line
        &:after {
          background: #ffffff;
          position: absolute;
          height: 100%;
          content: "";
          right: 17px;
          width: 5px;
        }
      }
    }

    .menu-button {
      font-size: $text-large;
      position: relative;
      text-align: right;
      transition: 0.5s;
      float: right;
      z-index: 999;
      width: 50px;

      // smooth fall-in effect upon page load
      top: -40px;
      opacity: 0;
      -webkit-animation: onpageload-fall 1.5s forwards; /* Safari 4.0 - 8.0 */
      animation: onpageload-fall 1.5s forwards;
    }
  }

  .header-background {
    background-color: #ffffff;
    padding: 55px 15px 0 40px;
    position: absolute;
    z-index: 997;
    width: 100%;
    top: 35px;

    .header-borders {
      position: absolute;
      background: $teal;
      transition: 0.5s;
      height: 4px;
      width: 100%;
      bottom: 0;
      right: 0;
      opacity: 0; // show when parent gains 'sticky' class

      &:after {
        width: calc(100% - 168px);
        background: #ffffff;
        position: absolute;
        bottom: -1px;
        content: "";
        right: 40px;
        height: 6px;
      }
    }

    &.sticky {
      position: fixed;
      top: 0;

      .header-borders {
        opacity: 1;
      }
    }
  }

  .menu {
    background: rgba(0, 0, 0, 0.95);
    padding: 20px 15px 0 40px;
    transform-origin: 70% 50%;
    transition: 0.5s;
    position: fixed;
    z-index: 9999;
    left: 100%;
    bottom: 0;
    right: 0;
    top: 0;

    &.active {
      left: 0;
    }

    .menu-close {
      transform: rotate(45deg);
      background: #ffffff;
      position: absolute;
      height: 25px;
      float: right;
      right: 30px;
      width: 3px;

      &:after {
        transform: rotate(90deg);
        background: #ffffff;
        position: absolute;
        height: 100%;
        width: 100%;
        content: "";
      }
    }

    .menu-links {
      font-size: $text-medium;
      margin-top: 25px;

      a {
        white-space: nowrap;
        padding: 15px 0;
        display: block;
        color: #ffffff;

        &.bottom {
          // position to the bottom of the screen if tall enough
          @media screen and (min-height: 500px) {
            position: absolute;
            bottom: 30px;
          }
        }
      }
    }
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes onpageload-fall {
  from {
    top: -40px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes onpageload-fall {
  from {
    top: -40px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
