/******************************************/
/************ header component ************/
/******************************************/

header {
  font-weight: $bold;

  .header-content {
    padding: 40px 15px 10px 40px;
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 0;

    .logo {
      float: left;
      width: 110px;
      position: relative;
      left: -22px;

      // pseudo black line
      &:before {
        right: calc(100% - 1px);
        background-color: #000;
        position: absolute;
        height: 4px;
        content: '';
        width: 100%;
      }

      // smooth fall-in effect upon page load
      top: -40px;
      opacity: 0;
      -webkit-animation: onpageload-fall 2.5s forwards; /* Safari 4.0 - 8.0 */
      animation: onpageload-fall 2.5s forwards;
    }

    .menu-button {
      font-size: $text-large;
      position: relative;
      text-align: right;
      float: right;
      z-index: 999;
      width: 50px;

      // smooth fall-in effect upon page load
      top: -40px;
      opacity: 0;
      -webkit-animation: onpageload-fall 1.5s forwards; /* Safari 4.0 - 8.0 */
      animation: onpageload-fall 1.5s forwards;
    }
  }

  .header-background {
    background-color: #ffffff;
    padding: 40px 15px 10px 40px;
    position: absolute;
    z-index: 997;
    width: 100%;
    top: 40px;
  }

  .menu {
    background: rgba(0, 0, 0, 0.95);
    padding: 50px 15px 0 40px;
    transition: 0.5s;
    position: fixed;
    z-index: 9999;
    left: 100%;
    bottom: 0;
    right: 0;
    top: 0;

    &.active {
      left: 0;
    }

    .menu-close {
      transform: rotate(45deg);
      background: #ffffff;
      position: absolute;
      height: 25px;
      float: right;
      right: 30px;
      width: 3px;

      &:after {
        transform: rotate(90deg);
        background: #ffffff;
        position: absolute;
        height: 100%;
        width: 100%;
        content: "";
      }
    }

    .menu-links {
      font-size: $text-medium;
      margin-top: 25px;

      a {
        white-space: nowrap;
        padding: 15px 0;
        display: block;
        color: #ffffff;

        &.bottom {
          // position to the bottom of the screen if tall enough
          @media screen and (min-height: 500px) {
            position: absolute;
            bottom: 30px;
          }
        }
      }
    }
  }
}

.fixed {
  //position: fixed;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes onpageload-fall {
  from {top: -40px; opacity: 0;}
  to {top: 0; opacity: 1;}
}

@keyframes onpageload-fall {
  from {top: -40px; opacity: 0;}
  to {top: 0; opacity: 1;}
}