/******************************************/
/************* home component *************/
/******************************************/

// to push the home contents due to fixed header
.home-container {
  margin-top: 90px;

  .main-image {
    //background-image: url('./assets/img/background/mobile-1.jpeg');
    background-color: $mid-grey;
    background-position: center;
    height: calc(100vh - 90px);
    background-size: cover;
    margin-bottom: 80px;
    width: 100%;
  }

  .color-blocks {
    .top-left {
      transition: 1s;  // for smooth transitions
      background-color: $teal;
      position: absolute;
      height: 35px;
      width: 106px;
      z-index: 999;
      left: 0;

      // smooth fall-in effect upon page load
      top: -40px;
      opacity: 0;
      -webkit-animation: onpageload-fall 2.5s forwards; /* Safari 4.0 - 8.0 */
      animation: onpageload-fall 2.5s forwards;
    }

    .top-right {
      transition: 1s;  // for smooth transitions
      background-color: $yellow;
      position: absolute;
      height: 120px;
      width: 70px;
      z-index: 998;
      right: 15px;
      top: 0;
    }

    .bottom-left {
      transition: 1s;  // for smooth transitions
      background-color: $teal;
      position: absolute;
      height: 10px;
      width: calc(100% - 80px);
      left: 40px;
      bottom: 0;
    }

    .bottom-right {
      transition: 1s;  // for smooth transitions
      background-color: $red;
      position: absolute;
      text-align: center;
      height: 80px;
      width: 80px;  // 65px + 15px for the right-side padding
      right: 0;
      bottom: 0;

      p {
        font-size: $text-small;
        position: absolute;
        color: #ffffff;
        bottom: 10px;
        right: 12px;
      }
    }
  }

  .side-information {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -ms-transform-origin: 0 0; /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    transform-origin: 0 0;

    font-size: $text-small;
    position: absolute;
    text-align: center;
    font-weight: $bold;
    width: 100vh;
    margin-left: -25px;
    margin-top: -50px;

    // smooth fall-in effect upon page load
    opacity: 0;
    -webkit-animation: onpageload-fadeIn 3s forwards; /* Safari 4.0 - 8.0 */
    animation: onpageload-fadeIn 3s forwards;

    p {
      display: inline-block;
      margin: 0 50px;
    }
  }
}

/* fadeIn & fall */
@-webkit-keyframes onpageload-fall {
  from {top: -40px; opacity: 0;}
  to {top: 0; opacity: 1;}
}
@keyframes onpageload-fall {
  from {top: -40px; opacity: 0;}
  to {top: 0; opacity: 1;}
}

/* fadeIn */
@-webkit-keyframes onpageload-fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes onpageload-fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
