
.section {
  padding: 50px 0 0 0;
  position: relative;

  p {
    margin: 10px 0;
    line-height: 1.25em;
  }

  .section-header {
    font-size: $text-medium;
    margin-bottom: 20px;
    font-weight: $bold;
    text-align: right;
    position: relative;

    &:before {
      background-color: #000000;
      width: calc(100% + 10px);
      position: absolute;
      margin-left: -10px;
      content: "";
      height: 3px;
    }
  }
}

.newsletter-container {
  .newsletter-input {
    @include input-style;
    width: 100%;
  }
  .newsletter-button {
    @include button-style;
    background-color: $yellow;
  }
}

.sponsors-container {
  .sponsor-image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    picture {
      width: calc(50% - 20px);
      margin: 10px;
    }
  }
}

// reused buttons
.read-more-red-box {
  transform: translate(-100%);
  position: absolute;
  background: $red;
  height: 36px;
  width: 100%;
  bottom: 0;
}

.read-more {
  position: absolute;
  background: $red;
  cursor: pointer;
  height: 35px;
  left: -40px;
  z-index: 10;
  width: 80px;
  bottom: 0;

  .arrow {
    transform: rotate(135deg) scale(0.5);
    right: 11px;
    top: 15px;
  }
}

.close {
  transform: rotate(45deg) scale(0.9);
  background: #ffffff;
  position: absolute;
  height: 25px;
  float: right;
  right: 30px;
  width: 3px;
  top: 5px;

  &:after {
    transform: rotate(90deg);
    background: #ffffff;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
  }
}