.schedule-carousel {
  position: relative;

  .right-now {
    width: calc(100% + 30px);
    position: absolute;
    background: $red;
    right: -15px;
    height: 1px;

    &:before {
      position: absolute;
      background: $red;
      height: 10px;
      width: 10px;
      left: -10px;
      content: "";
      top: -5px;
    }
  }

  table {
    .schedule-day {
      width: calc(100% + 20px);
      margin-bottom: 40px;
      margin-left: 50px;
    }

    tr {
      vertical-align: top;
      margin: 5px 0;
      height: 35px;

      td {
        p {
          margin: 0;
        }

        &:nth-of-type(1) {
          position: relative;
          font-weight: $bold;
          width: 50px;

          &:after {
            background: #000000;
            position: absolute;
            height: 100%;
            content: "";
            left: 25px;
            width: 2px;
          }
        }

        &:nth-of-type(2) {
          font-size: $text-small;
          position: absolute;
          left: 50px;
        }
      }
    }
  }

  .owl-dots {
    .owl-dot {
      &:nth-of-type(1).active:before {
        content: 'Friday'
      }
      &:nth-of-type(2).active:before {
        content: 'Saturday'
      }
      &:nth-of-type(3).active:before {
        content: 'Sunday'
      }
    }
  }
}