.speaker {
  background-color: #000000;
  position: relative;
  overflow-y: scroll;
  height: 300px;

  .speaker-front {
    position: absolute;
    background: black;
    overflow: hidden;
    transition: 0.5s;
    height: 100%;
    width: 100%;
    z-index: 2;

    .speaker-name {
      font-size: $text-xlarge;
      position: absolute;
      padding-left: 5px;
      text-align: left;
      color: #ffffff;
      width: 100%;
      top: 40px;

      &:before {
        background: #ffffff;
      }
    }
    .speaker-image {
      position: absolute;
      height: 100%;
      width: 100%;

      source, img {
        margin-right: -10px;
        max-height: 100%;
        float: right;
        width: auto;
      }
    }
  }

  .speaker-back {
    position: absolute;
    transition: 0.5s;
    color: #FFFFFF;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}

// allow active item to not be covered by the read-more button of the right item
.owl-item.active {
  z-index: 10;
}

//.show { opacity: 1 !important; }
.hide {
  opacity: 0 !important;
  z-index: 0;
}

// custom overriding styles for owl-carousel
.owl-stage-outer {
  margin-top: 50px;
}

.owl-dots {
  counter-reset: dots;
  text-align: left;
  position: absolute;
  top: -30px;

  .owl-dot {
    margin: 0 20px 0 0;
    float: left;

    &:before {
      counter-increment: dots;
      font-weight: $bold;
      content: '.';
    }

    &.active:before {
      content: counter(dots);
    }
  }

  span {
    visibility: hidden;
  }
}

.speaker-buttons {
  .read-more {
    background: $red;
    position: fixed;
    cursor: pointer;
    height: 35px;
    left: -20px;
    z-index: 10;
    width: 60px;
    bottom: 0;

    .arrow {
      transform: rotate(135deg) scale(0.5);
      right: 11px;
      top: 15px;
    }

    .close {
      transform: rotate(45deg) scale(0.9);
      background: #ffffff;
      position: absolute;
      height: 25px;
      float: right;
      right: 30px;
      width: 3px;
      top: 5px;

      &:after {
        transform: rotate(90deg);
        background: #ffffff;
        position: absolute;
        height: 100%;
        width: 100%;
        content: "";
      }
    }

    &.withText {
      padding: 10px 15px;
      width: auto;

      .arrow {
        left: 30px;
      }
      .close {
        left: 48px;
      }

      p {
        margin: 0 0 0 55px;
        color: #ffffff;
      }
    }

    &.read-more-close {
      position: fixed;
    }
  }
}

// reused buttons
.read-more-red-box {
  transform: translate(-100%);
  position: absolute;
  background: $red;
  height: 35px;
  width: 100%;
  bottom: 0;
}