.speaker {
  background-color: #000000;
  position: relative;
  height: 300px;

  .speaker-front {
    position: absolute;
    background: black;
    overflow: hidden;
    transition: 0.5s;
    height: 100%;
    width: 100%;
    z-index: 2;

    .speaker-name {
      font-size: $text-xlarge;
      position: absolute;
      padding-left: 5px;
      text-align: left;
      color: #ffffff;
      width: 100%;
      top: 40px;

      &:before {
        background: #ffffff;
      }
    }
    .speaker-image {
      position: absolute;
      height: 100%;
      width: 100%;

      source, img {
        margin-right: -10px;
        max-height: 100%;
        float: right;
        width: auto;
      }
    }
  }

  .speaker-back {
    position: absolute;
    transition: 0.5s;
    color: #FFFFFF;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    z-index: 1;

     p {
       .name-yellow {
         font-size: $text-medium;
         font-weight: $bold;
         color: $yellow;
       }
     }
  }
}

//.show { opacity: 1 !important; }
.hide { opacity: 0 !important; z-index: 0; }


// custom overriding styles for owl-carousel
.owl-stage-outer {
  margin-top: 50px;
}
.owl-dots {
  counter-reset: dots;
  text-align: left;
  position: absolute;
  top: -30px;

  .owl-dot {
    margin: 0 20px 0 0;
    float: left;

    &:before {
      counter-increment: dots;
      font-weight: $bold;
      content: '.';
    }

    &.active:before {
      content: counter(dots);
    }
  }

  span {
    visibility: hidden;
  }
}