@media screen and (min-width: 768px) {

  .my-container {
    padding-right: 30px !important;
    padding-left: 70px !important;
  }

  // header
  header {
    .header-content {
      padding-right: 30px;
      padding-left: 70px;

      .logo {
        .logo-line {
          width: calc(100% + 70px);
          left: -70px;
        }
      }
    }

    .header-background {
      .header-borders:after {
        width: calc(100% - 214px);
        right: 56px;
      }
    }
  }

  // home
  .home-container {
    .color-blocks {
      .top-left { width: 136px; }
      .top-right { right: 30px; }
      .bottom-left { left: 70px; }
      .bottom-right {
        width: 100px;
        .arrow { right: 25px; }
        p { right: 30px;}
      }
    }

    .side-information {
      margin-left: -55px;
    }

    .section {
      margin: 50px 0 0 30%;

      &.sponsors-container {
        .sponsor-image-container {
          justify-content: space-around;

          picture {
            width: calc(50% - 80px);
          }
        }
      }
    }
  }

  // footer
  .footer {
    margin: 50px 0 0 30%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  .my-container {
    padding-right: 0 !important;
    padding-left: 80px !important;
  }

  // header
  header {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;

    .header-content {
      width: 1180px;
      padding-right: 0;
      padding-left: 80px;

      .logo {
        width: 312px;

        &:before {
          width: 100vw;
        }

        .logo-line {
          left: -84%;
        }
      }
    }
    .header-background {
      .header-borders {
        position: fixed;
        top: 51px;
        &:after {
          content: none;
        }
      }
    }
  }

  // home
  .home-container {
    .main-image { margin-bottom: 100px; }

    .color-blocks {
      max-width: 1180px;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;

      .top-left {
        width: 153px;
        &:before {
          position: absolute;
          background: $teal;
          height: 100%;
          width: 100vw;
          right: 1px;
          content: "";
        }
      }
      .top-right { right: 0; }
      .bottom-left { left: 80px; }
      .bottom-right {
        width: 100px;
        right: -25px;
        .arrow { right: 25px; }
        p { right: 30px;}

        &:after {
          left: calc(100% - 1px);
          position: absolute;
          background: $red;
          height: 100%;
          width: 100vw;
          content: "";
        }
      }
    }

    .side-information {
      margin-top: -70px;
    }

    .section {
      padding-right: 150px;

      .section-header {
        position: static;
      }

      &.speakers-container {
        margin-left: 10%;

        .speaker {
          overflow: initial;
          width: 100%;

          // pseudo: white box
          &:before {
            position: absolute;
            height: 100%;
            content: "";
            width: 21px;
            left: -20px;
            bottom: 0;
          }

          &:nth-of-type(3n) {
            margin-right: 0;
          }

          .speaker-name {
            font-size: $text-large;
            position: absolute;
            top: 35px;
          }

          .speaker-image {
            picture {
              source, img {
                transform: scale(0.8);
                margin-right: -40px;
                margin-top: -10%;
              }
            }
          }
        }
      }

      &.newsletter-container {
        padding: 0;
        .section-header { padding-right: 150px; }
        .newsletter-input {
          width: calc(100% - 215px);
          display: inline-block;
          margin-right: 10px;
        }
        .newsletter-button { display: inline-block; }
      }

      &.sponsors-container {
        .sponsor-image-container {
          justify-content: space-around;

          picture {
            width: calc(25% - 40px);
          }
        }
      }
    }
  }

  .read-more {
    left: -20px;
    width: 60px;


  }

  // footer
  .footer {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0 !important;
    padding-left: 30% !important;
  }
}