<div class="home-container">
    <!-- home image carousel -->
    <div class="main-image">
        <div class="owl-carousel autoplay">
            <div class="main-image-single" *ngFor="let image of homeImages">
                <div [ngStyle]="{'background-image': 'url(../../assets/img/background/' + image.desktopUrl + ')'}"></div>
            </div>
            <!--<picture *ngFor="let image of homeImages">-->
                <!--&lt;!&ndash; IE supported by picturefill &ndash;&gt;-->
                <!--&lt;!&ndash;[if IE 9]>-->
                <!--<video style="display: none;"><![endif]&ndash;&gt;-->
                <!--<source srcset="../../assets/img/background/{{ image.desktopUrl }}" media="(min-width: 1200px)">-->
                <!--&lt;!&ndash;[if IE 9]></video><![endif]&ndash;&gt;-->
                <!--<img src="../../assets/img/background/{{ image.mobileUrl }}" alt="Pose conference logo">-->
            <!--</picture>-->
        </div>
    </div>

    <div class="color-blocks">
        <div class="top-left"></div>
        <div class="top-right"></div>
        <div class="bottom-left"></div>
        <div class="bottom-right">
            <div class="arrow"></div>
            <p>Register</p>
        </div>
    </div>

    <div class="side-information">
        <p>October 26 - 28</p>
        <p>New York City</p>
        <div class="down-arrow"></div>
    </div>

    <div class="section what-container" id="pose-section-what">
        <p class="section-header">What</p>
        <p>Since 2008, young and creative fashion designers around the world have gathered to
            <span class="highlight">share passion, explore ideas, and build connections</span> through our intensive 3-day conference.</p>
        <p>Register now and join us for this year’s conference, taking place in the capital of America’s fashion.</p>
    </div>

    <div class="section where-container">
        <p class="section-header">Where</p>
        <p>Jacob K. Javits Convention Center
            <br>655 W. 34th St
            <br>New York, NY 10001</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.1929365891324!2d-74.00477968431457!3d40.757781042749805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f66383c1d305%3A0xb1589156bdadde83!2sJacob+K.+Javits+Convention+Center!5e0!3m2!1sen!2sus!4v1509462504744" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="clearfix"></div>
    </div>

    <div class="section speakers-container" id="pose-section-speakers">
        <p class="section-header">Speakers</p>
        <app-speakers></app-speakers>
    </div>

    <div class="section schedule-container" id="pose-section-schedule">
        <p class="section-header">Schedule</p>
        <app-schedule></app-schedule>
    </div>

    <div class="section Lodging-container" id="pose-section-lodging">
        <p class="section-header">Lodging</p>
        <app-lodging></app-lodging>
    </div>

    <div class="section newsletter-container">
        <p class="section-header">Newsletter</p>
        <input type="text" value="" placeholder="email" class="newsletter-input">
        <button class="newsletter-button">Subscribe for More Info</button>
    </div>

    <div class="section sponsors-container">
        <p class="section-header">Sponsors</p>
        <div class="sponsor-image-container">
            <picture>
                <!-- IE supported by picturefill -->
                <!--[if IE 9]>
                <video style="display: none;"><![endif]-->
                <source srcset="../../assets/img/content/sponsors/affa.svg">
                <!--[if IE 9]></video><![endif]-->
                <img src="../../assets/img/content/sponsors/affa.svg" alt="Affa company logo">
            </picture>
            <picture>
                <!-- IE supported by picturefill -->
                <!--[if IE 9]>
                <video style="display: none;"><![endif]-->
                <source srcset="../../assets/img/content/sponsors/amiga.svg">
                <!--[if IE 9]></video><![endif]-->
                <img src="../../assets/img/content/sponsors/amiga.svg" alt="Affa company logo">
            </picture>
            <picture>
                <!-- IE supported by picturefill -->
                <!--[if IE 9]>
                <video style="display: none;"><![endif]-->
                <source srcset="../../assets/img/content/sponsors/blossin.svg">
                <!--[if IE 9]></video><![endif]-->
                <img src="../../assets/img/content/sponsors/blossin.svg" alt="Affa company logo">
            </picture>
            <picture>
                <!-- IE supported by picturefill -->
                <!--[if IE 9]>
                <video style="display: none;"><![endif]-->
                <source srcset="../../assets/img/content/sponsors/ennix.svg">
                <!--[if IE 9]></video><![endif]-->
                <img src="../../assets/img/content/sponsors/ennix.svg" alt="Affa company logo">
            </picture>
        </div>
    </div>
</div>
