<div class="home-container">
    <!-- home image carousel -->
    <div class="main-image"></div>

    <div class="color-blocks">
        <div class="top-left"></div>
        <div class="top-right"></div>
        <div class="bottom-left"></div>
        <div class="bottom-right">
            <div class="arrow"></div>
            <p>Register</p>
        </div>
    </div>

    <div class="side-information">
        <p>October 26 - 28</p>
        <p>New York City</p>
    </div>

    <div class="down-arrow"></div>

    <div class="section what-container">
        <p class="section-header">What</p>
        <p>Since 2008, young and creative fashion designers around the world have gathered to share passion, explore ideas, and build connections through our intensive 3-day conference.</p>
        <p>Register now and join us for this year’s conference, taking place in the capital of America’s fashion.</p>
    </div>

    <div class="section when-container">
        <p class="section-header">When</p>
        <p>October 26 to 28 (Friday to Sunday)<br>Scroll for schedule</p>
    </div>

    <div class="section where-container">
        <p class="section-header">Where</p>
        <p>Jacob K. Javits Convention Center
            <br>655 W. 34th St
            <br>New York, NY 10001</p>
    </div>

    <!--todo: speakers-->
    <!--todo: schedule-->
    <!--todo: lodging-->

    <div class="section newsletter-container">
        <p class="section-header">Newsletter</p>
        <input type="text" value="" placeholder="email" class="newsletter-input">
        <button></button>
    </div>

    <div class="section sponsors-container">
        <p class="section-header">Sponsors</p>
        <div class="sponsor-image-container">

        </div>
    </div>
</div>
