<div class="home-container">
    <!-- home image carousel -->
    <div class="main-image"></div>

    <div class="color-blocks">
        <div class="top-left"></div>
        <div class="top-right"></div>
        <div class="bottom-left"></div>
        <div class="bottom-right">
            <div class="arrow"></div>
            <p>Register</p>
        </div>
    </div>

    <div class="side-information">
        <p>October 26 - 28</p>
        <p>New York City</p>
        <div class="down-arrow"></div>
    </div>

    <div class="section what-container" id="pose-section-what">
        <p class="section-header">What</p>
        <p>Since 2008, young and creative fashion designers around the world have gathered to share passion, explore ideas, and build connections through our intensive 3-day conference.</p>
        <p>Register now and join us for this year’s conference, taking place in the capital of America’s fashion.</p>
    </div>

    <div class="section when-container">
        <p class="section-header">When</p>
        <p>October 26 to 28 (Friday to Sunday)<br>Scroll for schedule</p>
    </div>

    <div class="section where-container">
        <p class="section-header">Where</p>
        <p>Jacob K. Javits Convention Center
            <br>655 W. 34th St
            <br>New York, NY 10001</p>
    </div>

    <div class="section speaker-container" id="pose-section-speakers">
        <p class="section-header">Speakers</p>
        <app-speakers></app-speakers>
    </div>

    <div class="section schedule-container" id="pose-section-schedule">
        <p class="section-header">Schedule</p>

    </div>

    <div class="section Lodging-container" id="pose-section-lodging">
        <p class="section-header">Lodging</p>

    </div>

    <div class="section newsletter-container">
        <p class="section-header">Newsletter</p>
        <input type="text" value="" placeholder="email" class="newsletter-input">
        <button class="newsletter-button">Subscribe for More Info</button>
    </div>

    <div class="section sponsors-container">
        <p class="section-header">Sponsors</p>
        <div class="sponsor-image-container">
            <picture>
                <!-- IE supported by picturefill -->
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="../../assets/img/content/sponsors/affa.svg">
                <!--[if IE 9]></video><![endif]-->
                <img src="../../assets/img/content/sponsors/affa.svg" alt="Affa company logo">
            </picture>
            <picture>
                <!-- IE supported by picturefill -->
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="../../assets/img/content/sponsors/amiga.svg">
                <!--[if IE 9]></video><![endif]-->
                <img src="../../assets/img/content/sponsors/amiga.svg" alt="Affa company logo">
            </picture>
            <picture>
                <!-- IE supported by picturefill -->
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="../../assets/img/content/sponsors/blossin.svg">
                <!--[if IE 9]></video><![endif]-->
                <img src="../../assets/img/content/sponsors/blossin.svg" alt="Affa company logo">
            </picture>
            <picture>
                <!-- IE supported by picturefill -->
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="../../assets/img/content/sponsors/ennix.svg">
                <!--[if IE 9]></video><![endif]-->
                <img src="../../assets/img/content/sponsors/ennix.svg" alt="Affa company logo">
            </picture>
        </div>
    </div>
</div>
