<div class="speaker-carousel">
    <ul class="speaker-pagination">
        <!-- +1 is done for the index 'i' so that it shows from 1, 2, ... in the front-end -->
        <li *ngFor="let speaker of speakers; let i = index" [attr.data-index]="i">{{ speaker.viewing ? i+1 : '.' }}</li>
    </ul>

    <div class="speaker" *ngFor="let speaker of speakers">
        <div class="section-header speaker-name">{{ speaker.fName }}<br>{{ speaker.lName }}</div>
        <picture class="speaker-image">
            <!-- IE supported by picturefill -->
            <!--[if IE 9]>
            <video style="display: none;"><![endif]-->
            <source srcset="../../assets/img/content/speakers/{{ speaker.imageUrl }}" media="(min-width: 1200px)">
            <!--[if IE 9]></video><![endif]-->
            <img src="../../assets/img/content/speakers/{{ speaker.imageUrl }}" alt="Pose conference logo">
        </picture>
    </div>
</div>